[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-cors = "*"
flask-heroku = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
psycopg2 = "*"
flask-mail = "*"


[requires]
python_version = "3.7"
